<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="firstname">First Name</label>
        <input type="text" name="fname" required><br><br>

        <label for="lastname">Last Name</label>
        <input type="text" name="lname" required><br><br>

        <label for="email">Email</label>
        <input type="text" name="email" required><br><br>

        <label for="phone"> Phone</label>
        <input type="text" name="phone" required><br><br>

        

        <select  name="id">
           {% for i in value %}
           <option value="{{i.id}}">{{i.course_name}}</option>
           {% endfor %} 
        </select>
        <button type="submit">submit</button>
    </form>
</body>
</html>