<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}
        <label for="title">title</label>
        <input type="text" name="title" value="{{data.title}}" required><br>

        <label for="pdate">publish date</label>
        <input type="date" name="pbdate" value="{{data.publication_date|date:'Y-m-d'}}" required><br>

        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" value="{{data.isbn}}" required><br><br>
        <label for="publisher">publisher</label>
        <select name="id">
        {% for i in data1 %}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
        </select>

        <button type="submit">submit</button>




    </form>
</body>
</html>
