<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="Title" value="{{up.title}}" required><br>

        <label for="content">Content</label>
        <input type="text" name="Content" value="{{up.content}}" required><br>

        <label for="auhtor">Author</label>
        <input type="text" name="author" value="{{up.author}}" required><br>

        <label for="cdate">created_at</label>
        <input type="datetime" name="createdat" value="{{up.created_at|date:'Y-m-d'}}" required><br>

        <label for="udate">updated_at</label>
        <input type="datetime" name="udate" value="{{up.created_at|date:'Y-m-d'}}" required><br>
        
        <button for="submit">update</button>

        
    </form>
</body>
</html>